<h1>Restaurant</h1>
<p><%= @restaurant.name%></p>
<p><%= @restaurant.city%></p>
<p><%= @restaurant.state%></p>
<p><%= @restaurant.street_address%></p>
<p><%= @restaurant.postal_code%></p>

<%= link_to @restaurants, restaurants_path(@restaurants)%>